<h1 class="text-center mt-4">IA Users</h1>
<div class="container">
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td><%= user.username%></td>
            <td><%= user.email%></td>
            <td><%= link_to 'View profile', user_path(user), class: "btn btn-outline-success"%></td>
            <td><%= link_to 'Edit profile', edit_user_path(user), class: "btn btn-outline-info" %></td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>